.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
content/wiki/raw/
content/memory/
content/templates/
content/nedd-class-ing/
content/plan/
content/05-my-lab/
content/02-my-daily-notes/
content/03-my-information/